/** This is a comment ---------------------------

--- 01 Typography System

-- Font
Roboto, sans-serif

-- Font sizes (px)

:: paragraph
10 / 12 / 14 / 16
:: header
20 / 24 / 30 / 36 / 44 / 48 / 52

-- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph-default: 1.6

-- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

-- Letter spacing
-0.5 px
-0.75 px

--- 02 Colors

Primary:
- #DE3256 - Amaranth

Secondary-Greys:
- #1363F5 - Bluetiful

Main-text-color:
- #051A32 Oxford Blue

Second-text-Color:
- #838F9C Roman Silver

Shades:
- #D7DBE0 Gainsboro

Tints:
- #F2F3F5 Cultured
- #E4E7EA Platinum

Accents: N/A

--- 03 Shadows
--- 04 Border-radius
--- 05 Whitespace

--- 06 Grid System
max-width: 1344px
112px / 224px / 416px / 64px / 112px / 416px

**/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
	text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	 scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
  }

ul, li, a {
	list-style-type: none;
	text-decoration: none;
}

/* --- Main divs */

.container {
	/* 1344px divided by 10 */
	max-width: 134.4rem;
	margin-inline: auto;
}

.section-flex-container {
    /* border: 1px solid #De3256; */
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    max-width: 134.4rem;
    margin-inline: auto;
}

.main-col-width {
	width: 100rem;
}

.main-col-content-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-col-400 {
	width: 41.6rem;
}

/* --- Headers / Fonts */

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-sub-primary {
	font-weight: 700;
	color: #051A32;
	letter-spacing: -0.5px;
}

.heading-primary {
	font-size: 4.8rem;
	line-height: 1.05;
}

.heading-sub-primary {
	font-size: 2.4rem;
	line-height: 1.05;
	font-weight: 700;
}

.heading-secondary {
	font-size: 3.2rem;
	line-height: 1.2;
	font-weight: 500;
}

.heading-tertiary {
	font-size: 2.4rem;
	line-height: 1.2;
	font-weight: 500;
	padding: 1.6rem 0;
	color: #De3256;
}

/* -------------------- */

.sub-heading {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.5;
	color: #De3256;
	text-transform: uppercase;
}

.tertiary-sub-heading {
	font-size: 2rem;
	font-weight: 500;
	color: #De3256;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 0.065rem;
}

.main-sub-heading {
	margin-top: 1rem;
}

.main-heading-bot {
	margin-bottom: 1rem;
}

.header-main-text {
	font-size: 1.8rem;
	line-height: 1.6;
	letter-spacing: 0.025rem;
	color: #051A32;
}

.main-text {
	color: #051A32;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: 0.095rem;
}

.secondary-text {
	color: #F2F3F5;
	font-size: 1.4rem;
	line-height: 1.7;
	letter-spacing: 0.075rem;
	font-weight: 400;
}

/* --- Button */

.btn:link,
.btn:visited {
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	padding: 1rem 1.8rem;
	border-radius: 9px;
	transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
	background-color: #1363F5;
	color: #f2f3f5;
}

.btn--full:hover,
.btn--full:active {
	background-color: #1363F5;
	color: #f2f3f5;
}

/* --- Button-link */

.link-btn-cta {
	font-size: 1.6rem;
	font-weight: 500;
	color: #051A32;
	text-transform: uppercase;
	text-decoration: none;
}

.icon-cta {
	font-size: 2.4rem;
	color: #De3256;
}

.icon-cta-social-media {
	font-size: 2.8rem;
	color: #De3256;
}