@media (max-width: 89em) {

    .featured-in-logos {
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .main-col-width {
        width: 100rem;
    }

    .hero-container {
        background-color: aqua;
    }

    .feature-list {
        flex: 1 1 26.9rem;
        padding: 2rem 2rem;
    }

     .sub-plan-content {
        flex: 1 1 37.9rem;
    }

    .footer-first-column, .footer-second-column, .footer-third-column {
        flex: 1 1 40.6rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
/*
    .product-container-flex {
        padding: 0 5.5rem;
    }

    .faqs-section-container {
        max-width: 105.4rem;
    }

    .footer-first-column, .footer-second-column, .footer-third-column {
        flex: 1 1 34.6rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    } */
}
