/* --- Header & Navigation */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 4.8rem;
    height: 3.6rem;
    background-color: #f2f3f5;
    border-bottom: 2px solid #838F9C;
}

.logo {
    height: 12rem;
    cursor: pointer;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

/* status of nav without the effects and default */
.main-nav-link:link,
.main-nav-link:visited {
    position: relative;;
    padding: 0 0.3rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #838F9C;
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.3s ease 0s;
}

/* hover bottom line effect */
.main-nav-link::after {
    content: "";
    position: absolute;
    background-color: #De3256;
    height: 0.3rem;
    width: 0;
    left: 0;
    bottom: -10px;
}

.main-nav-link:hover::after {
    width: 100%;
    transition: all 0.3s ease 0s;
}

/* hover effect on text */
.main-nav-link:hover,
.main-nav-link:active {
    color: #De3256;
}

/* hover effect on the selected button */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    color: #De3256;
}

.main-nav-link.nav-cta:link:after,
.main-nav-link.nav-cta:link:visited {
    content: "";
    position: absolute;
    background-color: #De3256;
    height: 0.3rem;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
	color: #De3256;
}

/* --------------------------- */
/* Hero section / Landing Page */

.hero-section {
    background-color: #f2f3f5;
    height: 100vh;
    padding: 2.8rem 0;
}

.hero {
    max-width: 134.4rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-text-box {
    position: relative;
    margin: 12rem 0;
}

.hero-description {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 2.8rem;
    color: #051a32;
}

.hero-img {
    width: 90%;
}

.hero-icon,
.product-cta-icon {
    display: inline-block;
    width: 4.2rem;
    fill: #1363F5;
}

.hero-product-link {
    position: absolute;
    display: inline-block;
    color: #051a32;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 1.5rem;
    left: 5.2rem;
}

.hero-product-link:hover,
.hero-product-link:active {
    color: #De3256;
    transition: all 0.3s ease 0s;
}

/* --------------------------- */
/* All section shared */

.about-section,
.feature-section,
.mobile-feature-section,
.sub-pricing-section,
.product-section,
.faqs-section,
.contact-us {
    padding-top: 4.8rem;
}

/* --------------------------- */
/* About us section */
/* Share universal code for clean */

.about-section {
    background-color: #838F9C;
}

.about-us-content {
    margin-top: -2rem;
    padding-bottom: 4.8rem;
}

.about-us-description {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #051a32;
}

/* --------------------------- */

/* Featured in section */

.featured-in-section {
    padding: 4.8rem 0;
    background-color: #E4E7EA;
}

.featured-in-header {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3.4rem;
    color: #051a32;
}

/* make flex, to inline and spacea around */
.featured-in-logos {
    display: flex;
    justify-content: space-around;
}

.featured-in-logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/* --------------------------- */
/* Feature section */

.feature-section {
    background-color: #f2f3f5;
}

.features-content {
    padding-top: 4.8rem;
}

.feature-list {
    padding: 3rem 3.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.feature-list:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.feature-icon {
    height: 6.2rem;
    width: 6.2rem;
    color: #051a32;
    margin: 2.4rem 0;
    border-radius: 50%;
}

.feature-title {
    font-size: 2.8rem;
    color: #051a32;
    font-weight: 700;
    margin: 1.6rem auto;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #051a32;
}

/* --------------------------- */
/* Mobile feature section */

.mobile-feature-section {
    background-color: #f2f3f5;
}

.mobile-feature-content {
    margin-top: 12.8rem;
}

.mobile-f-list {
    padding: 3rem 0;
}

.mobile-f-list a {
    color: #051a32;
    font-size: 1.6rem;
}

.mobile-logo {
    width: 60rem;
}

/* --------------------------- */
/* Pricing section */

.sub-pricing-section {
    background-color: #E4E7EA;
}

.sub-price-container {
    padding-bottom: 12rem;
}

.sub-price-content {
    margin-top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sub-price-title,
.sub-price-tag,
.sub-price-tag-sp,
.sub-price-attributes {
    margin-left: 3rem;
    padding-bottom: 1rem;
}

.sub-price-tag span {
    color: #De3256;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sub-price-each-attribute {
    padding: 0.8rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #051a32;
}

.sub-price-tag-sp > span {
font-size: 1.4rem;
font-weight: 500;
color: #051a32;
}

/* --------------------------- */
/* Product section */

.product-section {
    position: relative;
    background-color: #E4E7EA;
}

.product-description {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #051a32;
    padding-bottom: 4.8rem;
}

.feature-product-img {
    border: 1px solid #De3256;
    width: 50rem;
}

/* --------------------------- */

.product-image-container {
    display: flex;
    justify-content: end;
    padding-bottom: 2.4rem;
}

.feature-product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid #1363F5;
    width: 84rem;
    padding: 2rem 0;
}

/* --------------------------- */

.product-image-link {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.1rem;
    padding-bottom: 4.8rem;
}

.product-image-link-cta {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

.product-cta {
    color: #De3256;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4.8rem;
}

/* --------------------------- */
/* Accordion Section */

.faqs-section {
    background-color: #f2f3f5;
}

.faqs-accordion-item hr {
    border: 1px solid #051a32;
}

.faqs-section-container {
    display: flex;
    flex-direction: column;
}

.faqs-accordion-link {
    font-size: 2.4rem;
    color: #051a32;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.faqs-accordion-link h3 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.faqs-icon {
    margin-bottom: -1rem;
    padding: .5rem;
}

.faqs-accordion-link .faqs-icon-arrow-down {
    display: none;
}

.faqs-answer p {
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 1rem;
    font-weight: 500;
}

.faqs-cta {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 4rem 0;
    color: #De3256;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.faqs-cta-link,
.product-cta-link {
    color: #De3256;
}

/* --------------------------- */
/* Where the for accordion action begin */

/* hide answer */
.faqs-answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}

/* pop up answer */
.faqs-accordion-item:target .faqs-answer {
    max-height: 10rem;
}

/* hide the arrow of pop up answer */
.faqs-accordion-item:target .faqs-accordion-link .faqs-icon-arrow-up {
    display: none;
}

/* show the arrow pointing down afer hiding the up arrow */
.faqs-accordion-item:target .faqs-accordion-link .faqs-icon-arrow-down {
    display: block;
}

/* --------------------------- */
/* Contact-us section */

.contact-us-container {
    position: relative;
    border: 1px solid #De3256;
    padding-bottom: 40rem;
}

.contact-us-content {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    border: 1px solid #051a32;
    gap: 17.6rem;
}

.contact-us-phone,
.contact-us-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;

}

.contact-us-phone {
    width: 41.8rem;
}

.contact-us-email {
    width: 41.8rem;
}

.contact-us-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #De3256;
}

.contact-us-description {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 4.8rem;
}

.contact-icon {
    font-size: 10.8rem;
    color: #051a32;
}